.title {
  padding-top: 50px;
}

.lista-imagenes img {
  width: 100%;
  object-fit: cover;
  width: 250px;
  height: 330px;
  margin-right: 10px;
  margin-top: 30px;
}
.lista-imagenes div {
  position: relative;
}

.lista-imagenes {
  display: flex;
  overflow-y: auto;
}

.icon-img {
  position: absolute;
  right: 15px;
  top: 35px;
  color: #1a1e24;
  font-size: 25px;
  cursor: pointer;
}

.icon-img:hover {
  color: #ad0200;
}

.input-box {
  height: 52px;
  margin: 10px 0;
}

.mtop {
  margin-top: 50px;
}

.button:hover {
  background: #503e3c;
}

.icon {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 2.3em;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: stretch;
  width: 152px;
  height: 35px;
  border-radius: 15px;
  background-color: #1a1e24;
  color: white;
  cursor: pointer;
}

.indications {
  padding-right: 5px;
  padding-left: 15px;
  padding-top: 8px;
  font-size: 20px;
}

.content-text {
  padding-top: 8px;
  font-size: 15px;
}

.content:hover {
  background-color: #1a83e6;
}

.icon:hover {
  color: #1a83e6;
}

@media screen and (max-height: 700px) {
  .title {
    padding-top: 35px;
  }
  .mtop {
    margin-top: 35px;
  }
  .lista-imagenes img {
    height: 250px;
    width: 200px;
  }
}

@media screen and (max-height: 600px) {
  .lista-imagenes img {
    height: 200px;
    width: 180px;
  }
}

@media screen and (max-height: 520px) {
  .title {
    padding-top: 25px;
    font-size: 20px;
  }
  .mtop {
    margin-top: 20px;
  }

  .icon {
    top: 0;
    right: -3px;
  }
}
