.lista-imagenes img {
  width: 100%;
  object-fit: cover;
  width: 250px;
  height: 330px;
  margin-right: 10px;
}

.lista-imagenes {
  display: flex;
  overflow-y: auto;
}
.input-box {
  height: 52px;
  margin: 10px 0;
}
.mtop {
  margin-top: 50px;
}

.button:hover {
  background: #503e3c;
}

@media screen and (max-width: 550px) {
  .button {
    margin-top: 50px;
    margin-left: 160px;
  }
  .lista-imagenes {
    width: 330px;
  }
}

@media screen and (max-height: 620px) {
  .lista-imagenes {
    height: 250px;
  }
  .mtop {
    margin-top: 10px;
  }
}
