.img-1 {
  /*Propiedades de la imagen 1 del primer slider*/
  background-image: url("./images/Ruta1.jpeg");
  background-size: cover;
  background-position: center;
}

.img-2 {
  /*Propiedades de la imagen 1 del primer slider*/
  background-image: url("./images/Ruta2.jpeg");
  background-size: cover;
  background-position: center;
}
.img-3 {
  /*Propiedades de la imagen 1 del primer slider*/
  background-image: url("./images/Ruta3.jpeg");
  background-size: cover;
  background-position: center;
}
